form {
    margin-top: 1em;
    display: flex;
    flex-flow: column nowrap;
}

form label {
    margin: 0;
    font-size: small;
    font-weight: 400;
    color: var(--black-5);
}

form > input {
    margin: 8px 0 24px 0;
    font-family: inherit;
    font-size: 1rem;
    min-width: 15rem;
    max-width: min(30rem, 80vw);
    padding: 0.5rem;
}

form > input {
    background-color: transparent;
    border: #808080 1px solid;
    border-radius: 2px;
}

form > input:focus {
    border: var(--blue-1) 1px solid;
}

form > input.invalid {
    border-color: var(--red);
}

#submit-row {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.submit-button {
    background: var(--blue-2);
    color: white;
}
.submit-button:hover {
    background: var(--blue-3);
}

.submit-button.invalid {
    background: var(--black-5);
    filter: contrast(50%);
    color: white;
}

#error {
    color: var(--red);
    column-gap: 8px;
    align-items: center;
}
#error-message {
    flex: 1;
}