body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: var(--white-2);
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

h1, h3 {
    text-align: center;
    color: #4c566a;
}

input{
    margin: 20px auto;
    align-items: centre;
}

p {
    text-align: center;
    color: #555;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #81a1c1;
    color: #fff;
    padding: 10px 0;
    border-radius: 5px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #4c566a;
}

#recipe-form {
    text-align: center;
    margin-top: 40px;
}

#ingredients {
    width: 70%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 16px;
}

.search-btn {
    padding: 10px 100px;
    background-color: #81a1c1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 30px;
    font-size: 20px;
}

.search-btn:hover {
    background-color: #4c566a;
}

#cuisine {
    text-align: center;
    width: 100px;
}

.checkbox-container{
    margin-bottom: 30px;
    color: #555;
}


.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-item label {
    font-size: 16px;
    color: #555;
}

.select-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.select-container select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}