:root {
    --white-1: white;
    --white-2: #eceff4;
    --white-3: #e5e9f0;
    --white-4: #d8dee9;

    --black-1: black;
    --black-2: #2e3440;
    --black-3: #3b4252;
    --black-4: #434c5e;
    --black-5: #4c566a;

    --blue-1: #88c0d0;
    --blue-2: #81a1c1;
    --blue-3: #5e81ac;

    --red: #bf616a;
}

body {
    background-color: var(--white-2);
    color: #3b4252;
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

#page-static {
    min-height: 100vh;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#content-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content-main-card {
    box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
    background-color: var(--white-1);

    padding: 48px;
    margin: 2em;
    border-radius: 2em;

    display: flex;
}

@media (max-width: 960px) {
    #content-main-card {
        flex-flow: column;
        column-gap: 2em;
    }
}
@media (min-width: 960px) {
    #content-main-card {
        flex-flow: row;
        row-gap: 0em;
    }
}

#card-header h1 {
    font-size: 2.5em;
    font-weight: 400;
}

#card-header p {
    max-width: 25em;
    color: var(--black-4);
}

#card-content {
    padding: 1em;
    padding-bottom: 0;
    display: inline-flex;
    flex-flow: column nowrap;
}

.clickable {
    position: relative;
    border-radius: 1em;
    border: none;
    padding: 1em;
    font-weight: 600;
}

.clickable::after {
    content: '';
    position: absolute;
    border-radius: 1em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 1px 1px 2.5px rgb(0 0 0 / 20%);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.clickable::before {
    content: '';
    position: absolute;
    border-radius: 1em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset -1px -1px 2.5px rgb(0 0 0 / 20%);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}

.clickable:hover::after:not(.invalid) {
    opacity: 1;
}

.clickable:active::after:not(.invalid) {
    opacity: 0;
}

.clickable:active::before:not(.invalid) {
    opacity: 1;
}