<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recipe Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Recipe Finder</h1>
        <p>Share your ingredients</p>
        <p>We provide you with recipes</p>

        <nav class="navbar">
            <a href="{{ url_for('search') }}">Recipe Finder</a>
            <a href="{{ url_for('register') }}">Update Recipe</a>
            <a href="{{ url_for('auth.login') }}">User Login</a>
        </nav>

        <form id="recipe-form">
            <input type="text" id="ingredients" placeholder="Please enter your ingredients, separated by commas">

            <h3>Put Your Dietary Requirements</h3>
            <div id="dietary-reqs" class="checkbox-container">
                <div>
                    <input type="checkbox" id="gluten-free" name="gluten-free">
                    <label for="gluten-free">Gluten Free</label>
                </div>
                <div>
                    <input type="checkbox" id="lactose-free" name="lactose-free">
                    <label for="lactose-free">Lactose Free</label>
                </div>
            </div>
            
            <div class="select-container">
                <h3>Choose Your Favorite Cuisine</h3>
                <label for="cuisine"></label>
                <select id="cuisine">
                    <option value="mexican">Mexican</option>
                    <option value="greek">Greek</option>
                    <option value="french">French</option>
                    <option value="chinese">Chinese</option>
                </select>
            </div>
            <button type="submit" class="search-btn">Search</button>
        </form>

        <div id="results">
            <h1>Recommendations</h1>
            <div id="results-list">
            </div>
        </div>
    </div>
    
    <script>
        function generate_result_element(result_info) {
            result_dom = document.createElement("div")
            result_dom.classList.add("result-entry")
            interior = `
                <div style="grid-row: 1; grid-column: 1">
                    <span style="font-size: 2rem;">${result_info["name"]}</span>
                    <span style="font-style: italic;">${result_info["cuisine"]}<span>
                </div>
            `

            interior = interior + `
                <div style="grid-row: 2; grid-column: 1;">
                    <h3 style="text-align: left">Ingredients</h3>
                    <div class="result-ingredients">
            `

            ingredients = result_info["ingredients"]
            ingredients = ingredients.split(/[,]+/);
            for (ingredient of ingredients) {
                interior = interior + `<span>${ingredient}</span>`
            }

            interior = interior + `
                    </div>
                </div>
            `

            if (result_info["dietary_requirements"].length > 0) {
                interior = interior + `
                    <div style="grid-row: 2; grid-column: 2;">
                        <h3 style="text-align: left">Dietary Requirements</h3>
                        <div class="result-dietary-reqs">
                `

                for (dietary_req of result_info["dietary_requirements"]) {
                    interior = interior + `<span>${dietary_req}</span>`
                }

                interior = interior + `
                        </div>
                    </div>
                `
            }

            result_dom.innerHTML = interior

            return result_dom;
        }

        results_list_dom = document.getElementById("results-list")

        document.getElementById("recipe-form").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission

            dietary_reqs = []
            dietary_reqs_dom = document.getElementById("dietary-reqs")
                                       .getElementsByTagName("input");

            console.log(dietary_reqs_dom)
            for (const child of dietary_reqs_dom) {
                if (child.checked) {
                    dietary_reqs.push(child.name)
                }
            }
            
            var formData = {
                ingredients: document.getElementById("ingredients").value,
                dietary_requirements: dietary_reqs,
                cuisine: document.getElementById("cuisine").value
            };
            // console.log(formData)

            // Send POST request to Flask server
            fetch("/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                results_list_dom.innerHTML = ""
                console.log(data); // Log server response
                for (result of data) {
                    results_list_dom.appendChild(generate_result_element(result))
                }
                alert("Ingredients submitted successfully!");
            })
            .catch(error => {
                console.error("Error:", error);
                alert("An error occurred. Please try again.");
            });
        });
    </script>
</body>
</html>
