{% extends 'base.html' %}
{% block title %}Submit a Recipe{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/insert.css">
{% endblock %}

{% block content %}
<div id="content-main-card">
    <div id="card-header">
        <h1>Create a Recipe</h1>
        <p>Got a recipe you like? Fill out the form and we'll add it to our database.</p>
    </div>
    
    <div id="card-content">
        <form id="recipe-form">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Recipe name..." required>
            
            <label for="ingredients">Ingredients</label>
            <textarea id="ingredients" name="ingredients" rows="4" placeholder="Ingredients..." required></textarea>
            
            <p>Dietary Requirements</p>
            <div id="dietary-reqs" class="checkbox-container">
                <div>
                    <input type="checkbox" id="gluten-free" name="gluten-free">
                    <label for="gluten-free">Gluten Free</label>
                </div>
                <div>
                    <input type="checkbox" id="lactose-free" name="lactose-free">
                    <label for="lactose-free">Lactose Free</label>
                </div>
            </div>

            <label for="cuisine">Cuisine</label>
            <select id="cuisine">
                <option value="mexican">Mexican</option>
                <option value="greek">Greek</option>
                <option value="french">French</option>
                <option value="chinese">Chinese</option>
            </select>
            
            <div id="submit-row">
                <button class="submit-button" type="submit">Submit Recipe</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById("recipe-form").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent default form submission

        // Get form data
        dietary_reqs = []
        dietary_reqs_dom = document.getElementById("dietary-reqs")
                                   .getElementsByTagName("input");

        console.log(dietary_reqs_dom)
        for (const child of dietary_reqs_dom) {
            if (child.checked) {
                dietary_reqs.push(child.name)
            }
        }

        var formData = {
            name: document.getElementById("name").value,
            ingredients: document.getElementById("ingredients").value,
            dietary_requirements: dietary_reqs,
            cuisine: document.getElementById("cuisine").value
        };

        // Send POST request to Flask server
        fetch("/insert-one", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.text())
        .then(data => {
            console.log(data); // Log server response
            alert("Recipe submitted successfully!");
        })
        .catch(error => {
            console.error("Error:", error);
            alert("An error occurred. Please try again.");
        });
    });
</script>
{% endblock %}
