{% extends 'base.html' %}

{% block title %}Log-In{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block content %}
<div id="content-main-card">
    <div id="card-content">
        <div id="card-header">
            <h1>Sign-In</h1>
            <p>
                Access your favourite recipes or automatically filter results
                based on your dietary requirements.
            </p>
        </div>
    </div>
    
    <div id="card-content">
        <form id="recipe-form" method="post">
            <label for="username">Username</label>
            <input name="username" id="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            
            <div id="submit-row">
                <input type="submit" class="submit-button clickable" value="Sign In">
            </div>
        </form>
    </div>
</div>
{% endblock %}